body {
    font-family:
	"Sabon LT Std",
        Verdana,
        -apple-system,
        BlinkMacSystemFont,
        "Helvetica Neue",
        Helvetica,
        sans-serif;
}

h1, h2, h3, h4, h5, h6, .nav.nav-tabs, .control-label {
    font-family: "Syntax LT Std";
}

ul li::marker {
    content: "– ";

}
